body {
    background-color: #010101;
    /* margin-left: 5%; */
    /* margin-right: 5%; */
}
.homeh{
  background-image: url(assets/NvL.gif);
}
.homeh .overlay {
  backdrop-filter: blur(4px);
}
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3de600, 0 0 40px #3de600, 0 0 50px #3de600, 0 0 60px #3de600, 0 0 70px #3de600;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #4dffac, 0 0 40px #4dffac, 0 0 50px #4dffac, 0 0 60px #4dffac, 0 0 70px #4dffac, 0 0 80px #4dffac;
    }
  }
  
.bg-darkgreen{
    background-color: #4E9F3D;
}
.bg-nicegreen{
    background-color: #D8E9A8;
    border-radius: 2%;
}
